In [1]:
import pandas as pd
import numpy as np

In [8]:
a1= pd.read_csv("Store_data.csv")
a2= pd.read_csv("UPC_Details_sales.csv")
a3= pd.read_csv("Week_data.csv")

store= pd.DataFrame(a1)
upc= pd.DataFrame(a2)
Week= pd.DataFrame(a3)

In [15]:
store

   Store   Pin_code     Address Region
0     101    560049   Medahalli  North
1     102    560050    Avalalli  North
2     103    560051    kr Puram  South
3     104    560052  Marathalli  South
4     105    560053      Hebbal   West
5     106    560054  Silk Board   East

In [10]:
upc

          UPC               UPC_Description Total Sales
0  1NH04EE001                Lays Red Chily        500$
1  1NH04EE002                     Red Bull        1000$
2  1NH04EE003           String Energy Drink       2500$
3  1NH04EE004          Ready Popcorn Chilly       5001$
4  1NH04EE005  Vanilla Flavor 500G Ice Cram        201$
5  1NH04EE006             Dabar Shavanprash         75$
6  1NH04EE007          Flavored Butter Milk        555$
7  1NH04EE008   Britania Cake Orange Flavor        501$
8  1NH04EE009         Condensed Milk 250 ML        777$
9  1NH04EE010             Bread Crums 250 G        250$